body{
    background: #FFFFFF
      padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-size: x-large;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-size: medium;
    text-align: center;
}

header{
    margin: 0px;
    padding: 0px;
    background:#F96B83;
}

.headerNav{
    margin: 20px;
    display: inline-block;
    font-size: large;
    text-align: center;
}

.headerLogo{
padding-right: 100px;
    padding-left: 60px;
}

.headerContact{
    padding-right: 100px;
}

.headerButtonGetItNow{
    background-color:#F96B83;
     border: 1.5px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: large;
    padding: 10px;
}

.headerContent{
    margin: 70px;
    margin-left: 100px;
    display: inline-block;
    font-size: large;
    text-align: left;
}


.headerButtonAppStore{
    margin-left:10px;
    margin-right: 10px;
    background-color:#FFFFFF;
     border: 1.5px solid #FFFFFF;
    border-radius: 4px;
    color: #F96B83;
    text-align: center;
    font-size: large;
    padding: 10px;
}

.headerButtonGooglePlay{
    background-color:#F96B83;
     border: 1.5px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: large;
    padding: 10px;
}



main{
    margin: 0px;
    padding: 0px;
    background: #F9F9F9;
    color: #07192A;
}

.mainTitleBlock{
    text-align: center;
    padding-left: 20%;
    width: 60%;
}

.mainTitleText1{
    padding-top: 70px;
    color: #F96B83;
}

.mainTitleText2{
margin-top: 20px;
}

.mainTitleText3{
    margin-top: 35px;
    color: #777777;
    margin-bottom: 20px;
}

.mainMainBlock{
    margin-top: 65px;
    width: 80%;
    margin-left: 16%;
}

.mainContent{
 padding: 20px;
    margin: 20px;
    display: inline-block;
 width: 20%;
    background: #FFFFFF;

    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


